.list-container {
    width: 100%;
}

.section {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-section {
    z-index: 3;
    translate: 0 calc(-1% * min( ( max( var(--scroll), 30 ) - 30 ) * 100 / 70, 100 ));
    background: linear-gradient(var(--clr-light-blue), var(--clr-blue));

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section h1 {
    font-size: 90px;
    font-weight: 900;
    color: white;
}

@supports (-webkit-background-clip: text) and (background-clip: text) {
    .top-section h1 {
        color: transparent;
        background-image: url("images/WhitePixel.png");
        -webkit-background-clip: text;
        background-clip: text;
        background-repeat: repeat-x;
        animation: reveal-text 2s ease-in-out forwards;
    }
}

@keyframes reveal-text {
    0% {
        background-size: 0px;
        background-position-y: 0%;
    }
    10% {
        background-size: 30px;
        background-position-y: 0%;
    }
    35%, 45% {
        background-position-y: 100%;
    }
    70% {
        background-size: 30px;
        background-position-y: 10%;
    }
    100% {
        background-size: 200px;
    }
}

.parallax {
    position: absolute;
    overflow: hidden;
}

.p-item-1 {
    width: 200px;
    top: 10%;
    left: 80%;
}

.p-item-2 {
    width: 400px;
    top: 50%;
    left: 60%;
}

.p-item-3 {
    width: 300px;
    top: 20%;
    left: 10%;
}

.p-item-4 {
    width: 200px;
    top: 80%;
    left: 20%;
}

.p-item-5 {
    width: 100px;
    top: 40%;
    left: 80%;
}

.p-item-6 {
    width: 300px;
    top: 80%;
    left: 80%;
}

.mid-section {
    z-index: 2;
    translate: 0 calc(-1% * min( ( max( var(--scroll), 130 ) - 130 ) * 100 / 70, 100 ));
    background-color: var(--clr-light-pink);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


.mid-section-text {
    text-align: center;
    background-color: var(--clr-pink);
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: 5px solid var(--clr-white);
    border-radius: 30px;
}

.mid-section-text h2 {
    color: white;
    font-size: 50px;
}

.mid-section-text p {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.mid-section-text a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 5px solid var(--clr-white);
    border-radius: 15px;
}

.mid-section-image {
    width: 30vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 5px solid var(--clr-white);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vw;
    width: 20vw;
}

.card a {
    position: relative;
    top: 50%;
    padding-top: 77%;
    padding-left: 51%;
    padding-right: 51%;
    padding-bottom: 73%;
}

.card-1 {
    position: absolute;
    z-index: 3;
    rotate: 10deg;
    background-image: url("Images/UrielSeraphPFP.jpg");
    animation: card-shuffle-top 10s 0s ease-in-out forwards infinite;
}

.card-2 {
    position: absolute;
    z-index: 2;
    width: 20vw;
    rotate: -15deg;
    height: 30vw;
    background-image: url("Images/Sutorime.jpg");
    animation: card-shuffle-bot 10s 0s ease-in-out forwards infinite;
}

.card-3 {
    position: relative;
    z-index: 1;
    width: 20vw;
    rotate: 30deg;
    height: 30vw;
    background-image: url("Images/SeriaLux.png");
}

@keyframes card-shuffle-top {
    9% {
        z-index: 3;
    }
    10% {
        translate: -70% 10%;
        z-index: 2;
    }
    20%,60% {
        translate: 0% 0px;
    }
    69% {
        z-index: 2;
    }
    70% {
        translate: 70% -10%;
        z-index: 3;
    }
    80%,100% {
        translate: 0% 0px;
    }
}

@keyframes card-shuffle-bot {
    9% {
        z-index: 2;
    }
    10% {
        translate: 70% -10%;
        z-index: 3;
    }
    20%,60% {
        translate: 0% 0px;
    }
    69% {
        z-index: 3;
    }
    70% {
        translate: -70% 10%;
        z-index: 2;
    }
    80%,100% {
        translate: 0% 0px;
    }
}

@media (orientation: portrait) {
    .mid-section {
        flex-direction: column;

    }

    .mid-section-text {
        margin: 5vw;
        flex-grow: 0.5;
        width: 80%;
    }

    .mid-section-image {
        width: 40vh;
        height: 50vh;
    }
    .card {
        width: max(30vw, 20vh);
        height: max(45vw, 30vh);
    }
}

.bot-section {
    z-index: 1;
    background-color: var(--clr-white);

    display: flex;
    justify-content: center;
    align-items: center;
}