.menu {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: hsl(var(--value-clr), 30%, 70%);
    border-bottom: 5px solid var(--clr-main);
    transform: translateY(calc(1% * min((max( var(--scroll), 30 ) * 3 - 190), 0)));
}

.menu-item {
   padding: 15px;
   color: var(--clr-main);
   transition: transform 0.2s ease;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu-item a {
    text-decoration: none;
    color: var(--clr-main);
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
}

.menu-item .active {
    text-decoration: underline;
    color: var(--clr-main);
}

.menu-icon {
    position: absolute;
    display: none;
    top: 5px;
    right: 10px;
    width:50px; 
    height:50px;
}

@media (max-width: 800px) {
    .menu {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}