*, *::after, *::before {
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --scroll: 0;
    --clr-main-1: aliceblue;
}

.menu {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(103, 141, 174);
    border-bottom: 5px solid black;
    transform: translateY(calc(1% * min((max( var(--scroll), 50 ) * 3 - 250), 0)));
}

.menu div {
   padding: 20px;
   color: #ffffff;
   transition: transform 0.2s ease;
}

.menu div:hover {
    transform: translateY(-10px);
}

.menu div a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.menu .active {
    color: lightblue;
}