*, *::after, *::before {
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --scroll: 0;
    --value-clr: 0;

    --img-menu-icon: url("../img/menu-icon.svg");
    --img-exit-icon: url("../img/exit-icon.svg");

    --clr-home-menubar: hsl(var(--value-clr), 30%, 65%);
    --clr-home-background-accent: hsl(var(--value-clr), 30%, 68%);
    --clr-home-background: hsl(var(--value-clr), 30%, 75%);

    /*Color*/
    --clr-main: white;
    --clr-shadow: rgba(0, 0, 0, 0.1);

    /*Pastel Purple Combination: pastpel */
    --clr-pastpel-background: #faeeff;
    --clr-pastpel-normal: #f3deff;
    --clr-pastpel-intense: #eecdff;
    --clr-pastpel-accent: #d9abf2;
    --clr-pastpel-overlay: #d9bae978;
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-home-menubar: hsl(var(--value-clr), 30%, 50%);
        --clr-home-background-accent: hsl(var(--value-clr), 30%, 40%);
        --clr-home-background: hsl(var(--value-clr), 30%, 10%);
    
        --clr-shadow: rgba(0, 0, 0, 0.5);

        /*Pastel Purple Combination: pastpel */
        --clr-pastpel-background: #241b35;
        --clr-pastpel-normal: #997fb3;
        --clr-pastpel-intense: #8571a8;
        --clr-pastpel-accent: #4d3762;
        --clr-pastpel-overlay: #8571a896;
    }       
}