.section-2 {
    z-index: 1;
    background-color: var(--clr-background);
    position: sticky;
    top: 0px;
    transform: translateY(calc(-1% * min( ( max( var(--scroll), 160 ) - 160 ) * 100 / 40, 100 )));
}
