.menu-item-container {
    background-color: var(--clr-pastlue-normal);
}

.content {
    background-color: var(--clr-pastlue-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 100svh;
}

.grid-container {
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
}

.grid-item {
    color: white;
    padding: 5%;
    border: 5px solid var(--clr-pastlue-accent);
    border-radius: 15px;
    background-color: var(--clr-pastlue-intense);
}

.about-me {
    max-width: 60svw;
}

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me-image {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background-color: var(--clr-pastlue-normal);
    background-image: url("../img/pfp.png");
    background-position: 25% 32%;
    border: 3px solid var(--clr-main);
    border-radius: 50%;
}

.about-me h1 {
    width: fit-content;
    flex-shrink: 1;
    font-weight: 300;
    font-size: 90px;
    margin-bottom: 20px;
}

.about-me p {
    margin-top: 20px;
}

@media (max-width: 800px) {
    .grid-container {
        padding: 0%;
        grid-template-columns: auto;
    }
    .about-me {
        max-width: none;
        width: 90svw;
    }
    .about-me-text {
        top: 0px;
    }
    .img-container {
        justify-content: space-between;
    }
}