.menu-item-container {
    background-color: var(--clr-pastlue-normal);
}

.content {
    background-color: var(--clr-pastlue-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 100svh;
}

.grid-container {
    padding: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5%;
}

.grid-item {
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--clr-pastlue-normal);
}

.about-me {
    background-color: var(--clr-pastlue-normal);
    color: var(--clr-main);
    max-width: 60svw;
    display: grid;
    grid-template-columns: 6fr 2fr;
    align-items: center;
    justify-content: center;
}

.about-me-image {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background-color: var(--clr-pastlue-normal);
    background-image: url("../img/pfp.png");
    background-position: 25% 32%;
    border: 3px solid var(--clr-main);
    border-radius: 50%;
}

.about-me h1 {
    text-align: center;
    width: fit-content;
    font-weight: 300;
    font-size: 90px;
}

.about-me p {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
}

.social-icon {
    padding: 10px;
    width: 70px;
}

.social-media p {
    font-size: 20px;
}

.social-media a {
    text-decoration: underline;
    color: var(--clr-pastlue-text);
    transition: all 0.2s;
}

.social-media a:hover {
    color: var(--clr-main);
    text-shadow: 0px 0px 10px var(--clr-main);
}

@media (max-width: 800px) {
    .grid-container {
        padding: 0%;
        grid-template-columns: auto;
    }
    .about-me {
        max-width: none;
        width: 90svw;
    }
    .about-me-text {
        top: 0px;
    }
    .img-container {
        justify-content: space-between;
    }
}