:root {
    /*Pastel Purple Combination: pastpel */
    --clr-pastpel-background: hsl(282, 100%, 99%);
    --clr-pastpel-normal: #f1daff;
    --clr-pastpel-intense: hwb(280 80% 0%);
    --clr-pastpel-accent: #de9fff;
    --clr-pastpel-text: #8571a8;
    --clr-pastpel-overlay: #d9bae978;
}

@media (prefers-color-scheme: dark) {
    :root {
        /*Pastel Purple Combination: pastpel */
        --clr-pastpel-background: #241b35;
        --clr-pastpel-normal: #997fb3;
        --clr-pastpel-intense: #8571a8;
        --clr-pastpel-accent: #4d3762;
        --clr-pastpel-text: #f1daff;
        --clr-pastpel-overlay: #8571a896;
    }
}

body {
    background-color: var(--clr-pastpel-background);
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-weight: 500;
}

.menu-item-container {
    background-color: var(--clr-pastpel-normal);
    box-shadow: 0 0px 15px var(--clr-pastpel-normal);
}

body {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 2000px;
    padding: 100px 10% 10px 10%;
}

.project-grid {
    display: grid;
    grid-template-areas: 'project-1 project-1 project-1 project-3 project-3' 'project-2 project-2 project-2 project-3 project-3' 'project-4 project-4 project-5 project-5 project-5';
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.project-grid-item {
    padding: 20px;
    box-shadow: 0px 0px 15px var(--clr-pastpel-intense);
    border-radius: 15px;
}

.project-1 {
    grid-area: project-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-pastpel-normal);
    color: var(--clr-main);
}

.project-1 img {
    max-height: 200px;
    margin: 10px;
    border: 5px solid var(--clr-main);
    border-radius: 20px;
}

.project-2 {
    grid-area: project-2;
    background-color: var(--clr-pastpel-normal);
    color: var(--clr-main);
}

.project-2-image {
    border: 5px solid var(--clr-pastpel-accent);
    background-color: var(--clr-pastpel-intense);
    margin: 20px;
    border-radius: 15px;
    height: 300px;
    background-position: center;
    background-size: 700px;
    background-image: url("../img/RobotorArm.png");
    
}

.project-3 {
    color: var(--clr-pastpel-text);
    grid-area: project-3;
}

.project-3 .extendable {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1;
    gap: 10px;
}

.project-3 .extendable button {
    /* padding: 15px; */
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--clr-main);
    background-color: var(--clr-pastpel-intense);
    border: 0px;
    border-radius: 20px;
}

.project-3 .extendable button:hover {
    background-color: var(--clr-pastpel-accent);
}

.popup-container {
    position: absolute;
    pointer-events: none;
    max-width: 1500px;
    height: 100%;
    padding: 10%;
}

.popup-window {
    position: relative;
    pointer-events: all;
    padding: 50px;
    display: none;
    border: 5px solid var(--clr-pastpel-intense);
    border-radius: 15px;
    background-color: var(--clr-pastpel-normal);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: var(--clr-main);
}

.popup-window .close-popup-button {
    background-image: url("../img/exit-icon.svg");
    background-color: transparent;
    border: 5px solid transparent;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 10px;
    right: 10px;
    width:50px; 
    height:50px;
}

.popup-window img {
    max-width: 100%;
}

#popup-json-reader img {
    border-radius: 15px;
}

.project-4 {
    color: var(--clr-pastpel-text);
    grid-area: project-4;
}

.project-4 a {
    color: var(--clr-pastpel-text);
}

.project-4 a:hover {
    color: var(--clr-pastpel-accent);
    text-shadow: 0px 0px 10px var(--clr-pastpel-accent);

}

.project-5 {
    grid-area: project-5;
    background-color: var(--clr-pastpel-normal);
    color: var(--clr-main);
}

.project-5 a {
    color: var(--clr-pastpel-text);
}

.project-5 a:hover {
    color: var(--clr-main);
    text-shadow: 0px 0px 10px var(--clr-main);
}


@media (max-width:800px) {
    .project-grid {
        grid-template-columns: auto;
        grid-template-areas: 'project-1' 'project-2' 'project-3' 'project-4' 'project-5';
    }
}