.menu {
    pointer-events: all;
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 15px;
}

.menu-flex-growth {
    flex-grow: 0.6;
    overflow: hidden;
}

.menu-flex-growth img {
    position: relative;
    top: 5px;
    height: 50px;
}

.menu-item {
    pointer-events: all;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.2s ease;
}


.menu-item a {
    color: var(--clr-unselected);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.2s ease;
}

.menu-item .active {
    color: var(--clr-main);
}

.active .menu-item-text {
    text-decoration: underline;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu-item:hover a{
    color: var(--clr-main);
}

.menu-button {
    cursor: pointer;
    background-image: url("../img/menu-icon.svg");
    background-color: transparent;
    border: 5px solid transparent;
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    width:50px; 
    height:50px;
}

@keyframes open-close-menubar {
    0% {
        visibility: hidden;
        transform: translateX(-100vw);
    }
    1% { 
        visibility: visible;
    }
    100% {
        transform: translateX(0px);
        visibility: visible;
    }
}

@keyframes idle {
    100% {}
}

@media (max-width: 800px) {
    .menu {
        pointer-events: none;
    }

    .menu-item-container {
        flex-direction: column;
        /*animation: open-close-menubar 0.5s ease-in-out forwards;*/
    }

    .menu-item {
        position: relative;
        left: 10%;
        width: fit-content;
    }

    .menu-button {
        display: block;
        pointer-events: all;
    }
    .menu-flex-growth img {
        top: 10px;
        left: 50px;
    }
}

.theme-swapper-container {
    background-color: var(--clr-shadow);
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 10%;
    height: 70px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    transform: translateY(40px);
    transition: 0.3s;
}

.theme-swapper-container:hover, .theme-swapper-container:has(:focus) {
    transform: translateY(0px);
    background-color: var(--clr-general-normal);
}

.theme-swapper-container p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--clr-main);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.checkbox { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: var(--clr-general-intense);
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: var(--clr-main);
    transition: .4s;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 3px var(--clr-main);
}

.checkbox:checked + .slider:before {
  transform: translateX(30px);
}

.checkbox:checked +  html {
    color-scheme: dark;
}

.checkbox:not(:checked) + html {
    color-scheme: light;
}