.menu {
    pointer-events: all;
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-item {
    pointer-events: all;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--clr-main);
    transition: transform 0.2s ease;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu-item a {
    text-decoration: none;
    color: var(--clr-main);
    font-size: 20px;
    font-weight: 700;
}

.active .menu-item-text {
    text-decoration: underline;
    color: var(--clr-main);
}

.menu-button {
    cursor: pointer;
    background-image: url("../img/menu-icon.svg");
    background-color: transparent;
    border: 5px solid transparent;
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    width:50px; 
    height:50px;
}

@keyframes open-close-menubar {
    0% {
        visibility: hidden;
        transform: translateX(-100vw);
    }
    1% { 
        visibility: visible;
    }
    100% {
        transform: translateX(0px);
        visibility: visible;
    }
}

@keyframes idle {
    100% {}
}

@media (max-width: 800px) {
    .menu {
        pointer-events: none;
    }

    .menu-item-container {
        flex-direction: column;
        /*animation: open-close-menubar 0.5s ease-in-out forwards;*/
    }

    .menu-item {
        position: relative;
        left: 10%;
        width: fit-content;
    }

    .menu-button {
        display: block;
        pointer-events: all;
    }
}